@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Customize */

    /* background-image: url("path/to/image") */
    background-image: url("images/1.png");

    /* color: your color */
    color: #D9E0EE;

    /* font-family: 'your font' */
    font-family: 'Fira Mono', monospace;

    /* Blur Background*/
    backdrop-filter: blur(3px);

    /* Background Position */
    background-position: center;
}

#greeting{
    margin-top: 2vw;
    font-size: 2vw;
    text-align: center;
}

#time {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.46);
}

#bookmarks {
    margin-top: 0;
    padding: 0%;
    margin-bottom: 2vw;
    list-style-type: none;
    text-align: center;
}

#bookmarks li {
    display: inline-block;
    transition: 0.3s;
}

#bookmarks li:hover {
    transform: scale(1.2);
}

#bookmarks img {
    width: 3vw;
}

/* Card Layout */
.content {
    background: rgba( 0,0,0,0.6 ); /* rgba(0, 0, 0, 0.7); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 20px;
}